<div class="Header">
  <div class="inline widthDash">
    <img class="iconImage" src="./assets/dashboard-icon.png" /><a href="" class="headerTexts">DASHBOARD</a>
  </div>
  <div class="inline widthSandA leftMargin darkish">
    <img class="iconImage" src="./assets/activity.png" /> <a href="" class="headerTexts">SKILL DATA</a>
  </div>
  <div class="inline widthSandA leftMargin borderRight">
    <img class="iconImage" src="./assets/joystick.png" /> <a href="" class="headerTexts">ATTEMPTS</a>
  </div>

  <div class="rightContainer">
    <div class="padding-right putInline">
      <div class="textColor welcomText">
        Welcome,
      </div>
      <div class="textColor loginText">
        RSADANA1
      </div>
    </div>
    <div class="putInline widthRightIcons borderToNotification">
      <img src="./assets/notification.png" />
    </div>
    <div class="putInline widthRightIcons">
      <img src="./assets/menu-icon.png" />
    </div>
  </div>
</div>
