.Header {
    height: 85px;
    background-color: #275183;

    @media only screen and (max-width: 600px) {
        height: auto;
    }

    .inline {
        display: inline-block;
        text-align: center;
        padding: 27px;
        color: white;

        @media only screen and (max-width: 600px) {
            display: block;
        }

        @media only screen and (min-width: 601px) and (max-width: 1300px) {
            padding: 0;
        }

        .iconImage {
            vertical-align: sub;
            height: 25px;
        }

        .headerTexts {
            margin-left: 5px;
            font-size: 20px;
            font-family: initial;
            color: white;
            text-decoration: none;
        }
    }

    .widthDash {
        width: 16%;
        @media only screen and (max-width: 600px) {
            width:auto;
        }
    }

    .widthSandA {
        width: 16%;
        @media only screen and (max-width: 600px) {
            width: auto;
        }
    }

    .marginLeft {
        margin-left: 0
    }

    .darkish {
        background-color: #214776;
    }

    .borderRight {
        border-right: 1px solid #1e4775;

        @media only screen and (max-width: 600px) {
            background-color: #275183;
        }
    }

    .rightContainer {
        display: inline-block;
        vertical-align: middle;
        width: 51%;
        text-align: right;
        height: 92px;

        @media only screen and (min-width: 601px) and (max-width: 1300px) {
            width: 50%;
        }

        @media only screen and (max-width: 600px) {
            display: none;
        }

        .padding-right {
            display: inline-grid !important;
            padding-right: 10px;
            position: relative;
            top: -10px;
        }

        .borderToNotification {
            border-right: 1px solid #1e4775;
            border-left: 1px solid #1e4775;
        }
    
        .putInline {
            display: inline-block;

            .textColor {
                color: white;
            }

            .welcomText {
                font-size: 14px;
            }

            .loginText {
                font-size: 22px;
                margin-top: -8px;
            }
        }

        .widthRightIcons {
            width: 15%;
            text-align: center;
            padding-top: 25px;
            padding-bottom: 24px;
        }
    }
}