
.tabContainer {
    height: 100px;
    background-color: #f5f6f8;
    padding-left: 50px;

    .displayInline {
        display: inline-block;
        margin-top: 45px;
        padding-top: 20px;
        padding: 16px;
    }

    .displayInline:hover {
        background-color: white;
    }

    .white {
        background-color: white;
        font-weight: 700;
    }
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 10px;
    font-weight: 200;
}

.dataBetweenChartsAndTabs {
    .midSection {
        padding-top: 50px;
        padding-left: 35px;
        .skill {
            display: inline-block;
            .switch {
                position: relative;
                display: inline-block;
                width: 60px;
                height: 34px;
                margin-left: 30px;
                margin-bottom: 0;
              }
              
              .switch input {display:none;}
              
              .slider {
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #ccc;
                -webkit-transition: .4s;
                transition: .4s;
              }
              
              .slider:before {
                position: absolute;
                content: "";
                height: 26px;
                width: 26px;
                left: 4px;
                bottom: 4px;
                background-color: white;
                -webkit-transition: .4s;
                transition: .4s;
              }
              
              input:checked + .slider {
                background-color: #22bf64;
              }
              
              input:focus + .slider {
                box-shadow: 0 0 1px #22bf64;
              }
              
              input:checked + .slider:before {
                -webkit-transform: translateX(26px);
                -ms-transform: translateX(26px);
                transform: translateX(26px);
              }
              
              /* Rounded sliders */
              .slider.round {
                border-radius: 34px;
              }
              
              .slider.round:before {
                border-radius: 50%;
              }
        }

        .displayWeak {
            font-size: 20px;
            padding-left: 10px;
            position: relative;
            bottom: 10px;
            font-size: 18px;
        }
    }
}

.inference{
    padding-left: 37px;
    padding-top: 20px;
    padding-bottom: 20px;

    .widthIandA {
        width: 48%;
        display: inline-block;
    }
}

.ChartSection {
    width: 45%;
    margin-left: 30px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 40px;

    @media only screen and (max-width: 1100px) {
        width: 90%;
    }

    @media only screen and (max-width: 600px) {
        width: 85%;
        height: 440px;
    }

    .adjustInsideContent {
        display: inline-block;
        margin-top: 40px;
    }

    .adjustInsideTableContent {
        display: inline-block;
        position: absolute;
        margin-top: 20px;
        @media only screen and (max-width: 600px) {
            display: block;
        }

    }

    .betweenPieChart {
        position: absolute;
        margin-left: 127px;
        /* top: 5%; */
        margin-top: -100px;
        /* bottom: -38%; */
        display: initial;
        /* width: 30%; */
        text-align: center;

        .overallFont {
            font-size: 11px;
        }
    }
}
.scoreMeter {
    margin-left: 80px;
    padding-bottom: 30px;
    .checkbox {
        width: 10px;
        height: 10px;
        display: inline-block;
    }
    .greenCheckbox {
        background-color: green;
    }
    .orangeCheckbox{
        background-color: orange;
    }
    .poorCheckbox {
        background-color: red;
    }
}

.nothingToShow {
    text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
    color: #9c8468;
    opacity: 0.3;
    font: 30px 'Museo700';
    text-align: center;
    position: relative;
    top: 100px;
}

.redColor {
    color: red;
    padding: 15px 20px;
}

.orangeColor {
    color: orange;
    padding: 15px 20px;
}

.greenColor {
    color: green;
    padding: 15px 20px;
}

.backGroundTableColor {
    background-color: #f5f6f8;
    font-size: 13px;
    font-weight: 500;
}

.tableLastColumn {
    font-size: 14px;
    text-align: center;
}

.border0 {
    border: 0;
    padding: 10px;
    text-align: center;
    font-size: 11px;
}

.circle {display:block;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 1px solid red;
    background-color: red;
}

.circle1 {display:block;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 1px solid red;
    margin: 48px;
    background-color: white;

}

circle {
    fill: white;
    stroke: black;
    stroke-width: 2;
    stroke-dasharray: 250;
    stroke-dashoffset: 1000;
    animation: rotate 5s linear infinite;


  }
  
  .overflow {
      overflow: overlay;

      .rotateAdjust {
        fill: white;
        stroke: red;
        stroke-width: 10px;
        stroke-dasharray: 282px;
        transform: rotate(270deg);
        stroke-dashoffset: 960;
      }
  }

.skillDataStatus {
    height: 50px;
    background-color: #e9ecee;
    text-align: center;
    vertical-align: middle;
    color: grey;
    padding-top: 15px;
}