<app-header></app-header>

<div class="tabContainer">
  <div class="displayInline" id="1" (click)="giveWhiteBack(1)">Overall</div>
  <div class="displayInline" id="2" (click)="giveWhiteBack(2)">Verbal RC</div>
  <div class="displayInline white" id="3" (click)="giveWhiteBack(3)">Verbal CR</div>
  <div class="displayInline" id="4" (click)="giveWhiteBack(4)">Verbal SC</div>
  <div class="displayInline" id="5" (click)="giveWhiteBack(5)">Quant PS</div>
  <div class="displayInline" id="6" (click)="giveWhiteBack(6)">Quant PS</div>
</div>
<div *ngIf="showAllData">
<div class="dataBetweenChartsAndTabs">
  <div class="midSection">
    <h1 class="skill">Skill Data</h1>
    <div class="skill">
      <label class="switch">
        <input type="checkbox" checked>
        <span class="slider round"></span>
      </label>
    </div>
    <div class="skill displayWeak">
      Display Only Weak areas
    </div>
  </div>
</div>
<div>
<div class="inference">
    <div class="widthIandA"><b>Inference</b> <span style="color: grey">(avg time 1 min 3 sec)</span></div>
    <div class="widthIandA"><b>Assumption</b> <span style="color: grey">(avg time 1 min 3 sec)</span> </div>
</div>
<div class="ChartSection">
  <div class="adjustInsideContent"><canvas baseChart
              [data]="doughnutChartData"
              [colors]="chartColors"
              [chartType]="doughnutChartType"></canvas>
              <div class="betweenPieChart">
                <b><div>32%</div></b>
                <div class="overallFont">Overall</div>
                <div class="overallFont">Accuracy</div>
              </div>
  </div>            
  <div class="adjustInsideTableContent"><table style="width: 100%">
      <tr>
          <th class="border0"></th>
          <th class="border0">ACCURACY</th>
          <th class="border0">AVG TIME</th>
      </tr>
    <tr>
      <th class="backGroundTableColor">Easy</th>
      <th class="redColor">15/20</th>
      <th class="tableLastColumn">1 min 3 sec</th>
    </tr>
    <tr>
      <th class="backGroundTableColor">Medium</th>
      <th class="orangeColor">8/15</th>
      <th class="tableLastColumn">55 sec</th>
    </tr>
    <tr>
      <th class="backGroundTableColor">Hard</th>
      <th class="greenColor">7/15</th>
      <th class="tableLastColumn">1 min 15 sec</th>
    </tr>
    </table>
  </div>
  <div class="scoreMeter">
    <span class="checkbox greenCheckbox"></span>
    <span>Good</span>
    <span class="checkbox orangeCheckbox"></span>
    <span>Avg</span>
    <span class="checkbox poorCheckbox"></span>
    <span>Poor</span>
  </div>
</div>
<div class="ChartSection">
  <div class="adjustInsideContent"><canvas baseChart
              [data]="doughnutChartData1"
              [colors]="chartColors1"
              [chartType]="doughnutChartType"></canvas>
              <div class="betweenPieChart">
                  <b><div>58%</div></b>
                  <div class="overallFont">Overall</div>
                  <div class="overallFont">Accuracy</div>
              </div>
  </div>
  <div class="adjustInsideTableContent"><table style="width: 100%">
      <tr>
          <th class="border0"></th>
          <th class="border0">ACCURACY</th>
          <th class="border0">AVG TIME</th>
      </tr>
    <tr>
      <th class="backGroundTableColor">Easy</th>
      <th class="redColor">15/20</th>
      <th class="tableLastColumn">1 min 3 sec</th>
    </tr>
    <tr>
      <th class="backGroundTableColor">Medium</th>
      <th class="orangeColor">8/15</th>
      <th class="tableLastColumn">55 sec</th>
    </tr>
    <tr>
      <th class="backGroundTableColor">Hard</th>
      <th class="greenColor">7/15</th>
      <th class="tableLastColumn">1 min 15 sec</th>
    </tr>
    </table>
  </div>
  <div class="scoreMeter">
      <span class="checkbox greenCheckbox"></span>
      <span>Good</span>
      <span class="checkbox orangeCheckbox"></span>
      <span>Avg</span>
      <span class="checkbox poorCheckbox"></span>
      <span>Poor</span>
    </div>
</div>
</div>
<div class="skillDataStatus">
  Your Skill Data is improving. Good Job!
</div>
</div>
<div class="nothingToShow" *ngIf="!showAllData">
  Nothing to show Here
  <!-- <div class="circle">
    <div class="circle1">
      32%
    </div>
  </div>

  <svg class="overflow" height="100" width="100">
    <circle class="rotateAdjust" cx="50" cy="50" r="40" /> 32%
  </svg> -->
</div>